<p id="notice"><%= notice %></p>
<h1>wow! much user</h1>

<table>
  <tr>
    <td>
      <%= render 'form' %>
    </td>
    <td>
      <font size=6>
        - or -
      </font>
    </td>
    <td>
      <font size=6>
        <%= link_to 'Play for free', "/freetoplayuser/suchindex" %>
      </font>
    </td>
  </tr>
</table>

<h2>Very news</h2>
<p>
  * wow! very site alive at DogeFun.com 11/1/14
</p>
<p>
  * such play for free 12/1/14
</p>

<table align="center">
  <tr>
    <td>
			<img src="/doge glow.png"/>
    </td>
    <td>
			<strong>pls donate D7QawmNgPLGH9oDqM9GtNQCjVt8gMvTRJ3</strong>
    </td>
    <td>
			<img src="/doge glow.png"/>
    </td>
  </tr>
</table>

<table align="center">
  <tr>
    <td>
			<img src="/doge glow.png"/>
    </td>
    <td>
			<strong>code licensed as GPL v3 https://github.com/Turupawn/DogeCasinoRails pls give stars</strong>
    </td>
    <td>
			<img src="/doge glow.png"/>
    </td>
  </tr>
</table>

<table align="center">
  <tr>
    <td>
    	<img src="/17.png"/>
    </td>
    <td>
    	<img src="/doge.png"/>
    </td>
    <td>
    	<img src="/17.png"/>
    </td>
  </tr>
</table>
