<h1>wow! much user</h1>

<%= render 'form' %>

<table>
  <tr>
    <td>
    	<img src="/17.png"/>
    </td>
    <td>
    	<img src="/doge.png"/>
    </td>
    <td>
    	<img src="/17.png"/>
    </td>
  </tr>
</table>
