<p id="notice"><%= notice %></p>
<h1>wow! much user</h1>

<%= render 'form' %>


<table align="center">
  <tr>
    <td>
			<img src="doge christmas.png"/>
    </td>
    <td>
			pls donate D7QawmNgPLGH9oDqM9GtNQCjVt8gMvTRJ3 and have merry christmas!
    </td>
    <td>
			<img src="doge christmas.png"/>
    </td>
  </tr>
</table>

<table align="center">
  <tr>
    <td>
			<img src="doge christmas.png"/>
    </td>
    <td>
			code licensed as GPL v3 https://github.com/Turupawn/DogeCasinoRails pls give stars
    </td>
    <td>
			<img src="doge christmas.png"/>
    </td>
  </tr>
</table>

<table align="center">
  <tr>
    <td>
    	<img src="/17.png"/>
    </td>
    <td>
    	<img src="/doge.png"/>
    </td>
    <td>
    	<img src="/17.png"/>
    </td>
  </tr>
</table>
