<h2>Crowdfunding</h2>

<h3>Let us choose where will the Ðonations go</h3>
<p>pls donate: DTG3wuVtKvRJ5FKULzuSqfY66jhAENHpiM</p>
<img src="<%=asset_path('qrcodes/tsw_donations_general.png')%>"/>
<p>Such thanks for <%= curlGetDeposits "tsw_donations_general" %> Ðonations!</p>

<h3>Support the coders</h3>
<p>pls donate: DEp7ThQS9aK9EkFBEBsh2Tdj9LcRzrBGSa</p>
<img src="<%=asset_path('qrcodes/tsw_donations_code.png')%>"/>
<p>Such thanks for <%= curlGetDeposits "tsw_donations_code" %> Ðonations!</p>

<h3>Support the graphic designers and map editors</h3>
<p>pls donate: DCKPziipnJcYfh9v5PMUBMkQhd3tBtgjbT</p>
<img src="<%=asset_path('qrcodes/tsw_donations_graphics.png')%>"/>
<p>Such thanks for <%= curlGetDeposits "tsw_donations_graphics" %> Ðonations!</p>

<h3>Support the history and quest makers</h3>
<p>pls donate: D66ggvqD36bDnoGE5xs9DZU8rLBenbS5F3</p>
<img src="<%=asset_path('qrcodes/tsw_donations_quests.png')%>"/>
<p>Such thanks for <%= curlGetDeposits "tsw_donations_quests" %> Ðonations!</p>

<h3>Support the server maintainers</h3>
<p>pls donate: D72sn153S8qHHZuA5Q6GS11FvzCemWW4xg</p>
<img src="<%=asset_path('qrcodes/tsw_donations_server.png')%>"/>
<p>Such thanks for <%= curlGetDeposits "tsw_donations_server" %> Ðonations!</p>
