<p id="notice"><%= notice %></p>

<p>

<strong>Very Won</strong>
<%= link_to 'Continue', @chest.user %>

</p>

<img src="/<%= number_with_precision(@chest.prize, precision: 0) %>.png" />
</br>
<strong>Very lose</strong>
</br>

<%
prizes=[17,10,10,5,5,2,2,1,1,0,0]

count = 0

%>

<% prizes.each do |p|%>
	<%if p == @chest.prize %>
		<%count+=1%>
	<% end%>
	<%if p != @chest.prize || count < 2%>
  <img src="/<%= number_with_precision(p, precision: 0) %>.png" />
	<%end
 end %>


