<!DOCTYPE html>
<html>
<head>
  <title>DogeMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body background="/dogetileglow.png">

	<p>so instruction: pay 5 doges to open tresr, 17,10,10,5,5,2,2,1,1,0,0 doges hidden on the chests!</p>
	<div align="center">
		<img src="/doge_top.png" />
	</div>

	<%= yield %>

</body>
</html>
