<!DOCTYPE html>
<html>
<head>
  <title>DogeFun</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<body background="/dogetileglow.png">

<div align="center">
  <a href="/"><img src="/doge_top.png" /></a>
</div>

<h1 align="center">Dogefun</h1>
<p align="center">such shibe apps</p>

<%= yield %>

</body>
</html>
