<!DOCTYPE html>
<html>
<head>
  <title>DogeMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<body background="/dogetileglow.png">

	<p>so instruction: pay 5 doges to open tresr, 10,7,7,6,6,4,4,3,3,3,1 doges hidden on the chests!</p>

	<div align="center">
		<a href="/"><img src="/doge_top.png" /></a>
	</div>

	<%= yield %>

</body>
</html>
